<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <body>
            <h1>Edit your Listing</h1>
            <form action="/listings/<%=listing.id %>?_method=PATCH" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input required type="text" name="listing[title]" class="form-control" value="<%= listing.title %>">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea name="listing[description]" id="" class="form-control"
                        value="" required><%= listing.description %></textarea>
                </div>
                <div class="mb-3">
                    <img src="<%= orgImage %>" alt="">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image:</label>
                    <input type="file" name="listing[image]" class="form-control" >
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input required type="text" name="listing[location]" class="form-control" value="<%= listing.location %>">
                </div>
                <div class="row">
                    <div class="col-md-7 mb-3">
                        <label for="price" class="form-label">Price:</label>
                        <input required type="number" name="listing[price]" class="form-control" value="<%= listing.price %>">
                    </div>
                    <div class="col-md-5 mb-3">
                        <label for="country" class="form-label">Country:</label>
                        <input required type="text" name="listing[country]" class="form-control" value="<%= listing.country %>">
                    </div>
                </div>
                <button class="btn btn-dark edit-btn mt-3">Edit</button>
            </form>
            <br><br>
            <script src="/js/script.js"></script>
        </body>
    </div>
</div>
    